.venv/
__pycache__/
*.pyc
logs/*
!logs/.gitkeep
!logs/README.md
!logs/etl_20261007_223144_ejemplo.txt
salidas/
tests/tmp_carga/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
*.csv
*.csv.gz
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
*.xlsx
*Zone.Identifier
